.unselectable {
  user-select: none;
}

.is-success {
  background-color: $color-emphasis-alt !important;

  &:hover {
    background-color: $color-emphasis-alt-modified !important;
  }
}

.hide-on-load {
  display: none;
}

.hide-me-but-leave-me {
  display: none !important;

  @include breakpoint($desktop) {
    display: block !important;
    visibility: hidden;
  }
}

.page-wrapper {
  padding: 40px 0;
  position: relative;

  &.secondary-section {
    padding-top: 30px;
  }
}

blockquote {
  font-size: 24px;
  font-style: italic;
}

.container {
  margin: 0 20px;

  @include breakpoint($tablet) {
    margin: auto;
  }

  @include breakpoint($desktop) {
    margin: auto;
    width: $max-combo-wrapper-width; //960px
  }

  @include breakpoint($fullhd) {
    width: $max-container-width; //1344px
  }

  &.is-fluid {
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;

    @include breakpoint($mobile) {
      max-width: $max-flickity-width; //620px;
    }

    @include breakpoint($tablet) {
      padding: 0;
    }
    @include breakpoint($widescreen) {
      width: $max-fluid-container-width; //1152px
    }
    @include breakpoint($fullhd) {
      max-width: $max-fluid-container-width + 100px;
      width: $max-container-width; //1344px
    }
  }

}

.content-container {
  position: static !important;
}

.navbar >.container .navbar-brand {
  margin-left: 0 !important;
}

.label {
  font-weight: 400 !important;
}

.logo-badge {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  h3 {
    color: $color-text;
    font-size: 18px;
    padding-bottom: 0;
  }
}


/* cards */
.card {
  padding: 0;
  margin: 10px;
  border: 10px solid white;

  .card-content {
    height: calc(80vw - 30px);
    border: none;
    background-size: cover;
    background-position: center;

    &.bg-position-right {
      background-position: right center;
    }

    @include breakpoint($tablet) {
      height: calc(255px);
    }

    @include breakpoint($widescreen) {
      height: calc(325px);
    }

    &.card-taller {
      @include breakpoint($tablet) {
        height: 275px;
      }
      @include breakpoint($widescreen) {
        height: 255px;
      }
    }

  }

  &.card-loop {
    position: relative;
    height: calc(80vw - 30px);

    @include breakpoint($tablet) {
      height: calc(299px);
    }

    @include breakpoint($widescreen) {
      height: calc(275px);
    }

    .card-content {
      position: absolute;
      width: 100%;

      @include breakpoint($mobile) {
        height: calc(80vw - 56px);
      }
    }
  }
}

.select {
  select {
    width: 100%;
  }
}

*:focus {
  outline: none;
}

.share-button {
  height: 23px;
  width: 129px;
}

.tabs.is-toggle li.is-active a {
  background-color: $color-medium-gray !important;
  border-color: $color-medium-gray !important;
}

.flickity-page-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 5px;

  .dot {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 12px;
    background: $color-light-gray;
    color: transparent;
    text-indent: -10000px;
    transition: background-color 0.2s ease-in-out;

    &.is-selected {
      background: $color-medium-gray;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.white-bg {
  background: $white;
}